.inline-block {
    display: inline-block;
    vertical-align: top;
}

.name{
    font-weight: 1600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150;
}

.logoImg{
    margin-top: 30px;
    width: 60px;
    height: auto;
}

.linkStyle{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.heroImg{
    width: 100%;
    height: auto;
}

.mainContent{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
}

.bioText{
    padding: 10px 3%;
}

.biography{
    width: 60%;
}

.bottomNav{
    display: grid;
    grid-template-rows: 1fr;
    vertical-align: top;
    background-color: #EEEEEE;
    
}

.boxBox{
    padding: 20px;
}

.projectsB{
    font-size: 20px;
    padding: 10px;
    color: blue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.linkStyle2{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 50px;
    margin: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
}

.skillsBox{
    width: 33%;
    padding: 20px;
}

.magGlass{
    height: 40px;
}

.workPic{
    width: 80%;
    padding: 15px;
}

.myWork{
    grid-area: myArea;
}

.workGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600){
    .flexContainer{
        display: flex;
        flex-direction: column;
    }

    .workGrid{
        display: grid;
    }

    .workPic{
        width: 100%;
        padding: 15px;
    }
}